.container {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
}

.operation-selection {
    margin-bottom: 20px;
}

.insertion-fields {
    margin-top: 10px;
}

.custom-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
        background-color: #0056b3;
}

.notification-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.notification-message {
    flex-grow: 1;
}

.notification-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
}
.code-line {
    font-family: 'Consolas', 'Courier New', monospace;
    white-space: pre; /* Preserves whitespace for alignment */
}

.highlight {
    background-color: yellow; /* Highlight color */
}



