@inject IJSRuntime JSRuntime

<div id="@arrowId" class="arrow"></div>

<style>
    .arrow {
        width: 2px; /* Width of the arrow line */
        height: 100%; /* Initial height, will be adjusted dynamically */
        background-color: black; /* Color of the arrow */
        position: absolute;
    }

    /* Add additional styling for the arrowhead if needed */
</style>

@code {
    [Parameter] public Node SourceId { get; set; }
    [Parameter] public Node TargetId { get; set; }
    private string arrowId = "arrow-" + Guid.NewGuid().ToString();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("drawArrow", SourceId, TargetId, arrowId);
        }
    }
}
