@inject IJSRuntime JSRuntime
@page "/arrow"
<div id="@arrowId" class="arrow">-></div>


@code {
    [Parameter] public Node SourceId { get; set; }
    [Parameter] public Node TargetId { get; set; }
    private string arrowId = "arrow-" + Guid.NewGuid().ToString();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
   //         await JSRuntime.InvokeVoidAsync("drawArrow", SourceId, TargetId, arrowId);
        }
    }
}
