@code {
    [Parameter] public IEnumerable<string> CodeLines { get; set; }
}

@if (CodeLines != null)
{
    <div id="code-container">
        @foreach (var line in CodeLines)
        {
            <pre><code class="code-line">@line</code></pre>
        }
    </div>
}