@page "/quiz"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject QuizService QuizService

<h1>Select a data structure to test your knowledge</h1>

@if (IsLoading)
{
    <div class="loading-container">
        <div class="loading-spinner"></div>
        <p>Loading quiz, please wait...</p>
    </div>
}
else
{
    <div class="button-container">
        @foreach (var ds in dataStructures)
        {
            <div class="data-structure-wrapper">
                <button class="data-structure-button" @onclick="() => NavigateToQuiz(ds)">
                    @ds
                </button>
            </div>
        }
    </div>
}

<AuthorizeView>
    <NotAuthorized>
        <p>
            You can take any quiz without logging in,
            but your progress won't be saved unless you <a href="/Identity/Account/Login">login</a>
            or <a href="/Identity/Account/Register">register</a>.
        </p>
    </NotAuthorized>
</AuthorizeView>

<style>
     .save-progress-button {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
        transition: background-color 0.3s, transform 0.3s;
    }

        .save-progress-button:hover {
            background-color: darkgreen;
            transform: scale(1.05);
        }
</style>

@code {
    private string[] dataStructures =
        { "SinglyLinkedListQuiz", "DoublyLinkedListQuiz", "BinarySearchTreeQuiz", "QueueQuiz", "StackQuiz" };

    private bool IsLoading;

    private async Task NavigateToQuiz(string dataStructureQuiz)
    {
        IsLoading = true;
        StateHasChanged();

        var questions = await QuizService.GetQuestionsAsync(dataStructureQuiz);

        NavigationManager.NavigateTo(dataStructureQuiz);
    }
}

