@page "/grid-page"
@using DataStructuresVisualizer.DataStructures.SinglyLinkedListFile;
@using DataStructuresVisualizer.DataStructures.DoublyLinkedListFile;
@using DataStructuresVisualizer.DataStructures.BinarySearchTree;
@using DataStructuresVisualizer.DataStructures.HashMap;
@using DataStructuresVisualizer.DataStructures.HashSet;
@using DataStructuresVisualizer.DataStructures.Stack;
@using DataStructuresVisualizer.DataStructures.Queue;
@using DataStructuresVisualizer.DataStructures.Array;


<div id="linked-list">
   
        <h3>Select a Data Structure</h3>

        <select @bind="selectedDataStructure">
            @foreach (var dataStructure in dataStructures)
            {
                <option value="@dataStructure">@dataStructure</option>
            }
        </select>

    <p>You have selected: @selectedDataStructure</p>

    @foreach (var node in linkedList)
    {
        <div class="node">
            @node._data
        </div>
        @if (node.Next != null)
        {
            <div class="arrow">→</div>
        }
    }
    <div class="node null-node">null</div>  

    <p>
    <Button class="btn btn-primary" @onclick ="buttonAddNodeEnd">Add Node End</Button>
        <Button class="btn btn-primary" @onclick="buttonRemoveNodeEnd">Remove Node End</Button>
        <Button class="btn btn-primary" @onclick="buttonRemoveSpecificNode">Remove Specific Node</Button>
        <input @bind="inputData" type="text" placeholder="Enter node data" />
    </p>

    
</div>

<style>
    #linked-list {
        display: flex;
        align-items: center;
        gap: 10px; 
    }

    .node {
        padding: 10px;
        border: 2px solid black;
        border-radius: 5px; 
        text-align: center;
    }

    .null-node {
        background-color: lightgray;
    }

    .arrow {
        font-size: 20px;
    }
</style>



@code {
    private SinglyLinkedList<int> linkedList; 
    private int  inputData;
    private string [] dataStructures = {"SinglyLinkedList", "DoublyLinkedList", "HashMap", "HashSet", "Stack", "Queue", "Array", "BinarySearchTree"};
    private string selectedDataStructure;


    void buttonAddNodeEnd()
    {
        linkedList.Append(inputData);
    }
    void buttonRemoveNodeEnd()
    {
        linkedList.DeleteTail();
    }
    protected override void OnInitialized()
    {
        linkedList = new SinglyLinkedList<int>();

        linkedList.Append(1);
        linkedList.Append(2);
        linkedList.Append(3);
    }

    void addNodeAtIndex()
    {
        
    }

    void buttonRemoveSpecificNode()
    {
        linkedList.Delete(inputData);
    }


}
