@page "/"
@inject NavigationManager NavigationManager

<div class="page-container"> </div>
<h1 class="page-title">Select a Data Structure to Visualize</h1>

<div class="button-container">
    @foreach (var ds in dataStructures)
    {
        <div class="data-structure-wrapper">
            <button class="data-structure-button" @onclick="() => NavigateToVisualizer(ds)">
                @ds
            </button>
            @if (ds == "SinglyLinkedList")
            {
                <img src="/images/sll_visual.gif" alt="Singly Linked List Visualization" class="img-thumbnail" />
            }
            @if (ds == "BinarySearchTree")
            {
                <img src="/images/bst_visual.gif" alt="Binary Search Tree Visualization" class="img-thumbnail" />
            }
            @if (ds == "DoublyLinkedList")
            {
                <img src="/images/dll_visual.gif" alt="Doubly Linked List Visualisation" class="img-thumbnail" />
            }
            @if (ds == "Queue")
            {
                <img src="/images/queue_visual.gif" alt="Queue Visualization" class="img-thumbnail" />
            }
            @if (ds == "Stack")
            {
                <img src="/images/stack_visual.gif" alt="Stack Visualization" class="img-thumbnail" />
            }

        </div>
    }
</div>

<style>
    .page-container {
        background-image: url('/images/home_page_img_bckg.png');
        height: 100vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 50%;
        padding: 70px 0;
    }

    body {
        font-family: 'Roboto', Arial, sans-serif;
        background-color: #fff;
        color: #333;
        margin: 0;
        padding: 20px;
        text-align: center;
    }

    .page-title {
        color: #FFA500; /* Orange */
        margin-bottom: 20px;
    }

    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .data-structure-wrapper {
        text-align: center;
        margin-bottom: 20px;
        width: 200px; /* Ensure consistent width for alignment */
    }

    .data-structure-button {
        background-color: skyblue;
        border: none;
        color: #004D40; /* Dark Green */
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
        width: 100%;
    }

        .data-structure-button:hover {
            background-color: deepskyblue; /* Green */
            transform: scale(1.1);
        }

    .ds-gif {
        margin-top: 10px;
        max-width: 100%;
        width: 100%; /* Match the button width */
        height: 150px; /* Adjust height accordingly */
        border:
    }
</style>

@code {
    private string[] dataStructures = { "SinglyLinkedList", "DoublyLinkedList", "BinarySearchTree", "Queue", "Stack"};

    private void NavigateToVisualizer(string dataStructure)
    {
        NavigationManager.NavigateTo($"/visualize/{dataStructure}");
    }
}