@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Node Data="1"></Node>
<Arrow></Arrow>
<Node Data="2"></Node>
<Arrow></Arrow>
<Node Data="3"></Node>

