
@page "/visualize/{DataStructure}"
@using BlazorAppForDataStructures.Pages.DataStructuresComponents;

@switch (DataStructure)
{
    case "Array":
        <Array />
        break;
    case "SinglyLinkedList":
        <SinglyLinkedList />
        break;
    case "DoublyLinkedList":
        <DoublyLinkedList/>
        break;
    case "Stack":
        <Stack/>
        break;
    // Add cases for other data structures
    default:
        <p>Select a valid data structure to visualize.</p>
        break;
}

@code {
    [Parameter]
    public string DataStructure { get; set; }
}
